*{padding: 0; margin: 0;}
.navbar-default .navbar-nav>li>a {
    color: white;
}

.box{
	background-color: black;
	margin-right: 50px;
}


.news li{
	padding: 8px;
	list-style: none;
	margin-top: 10px;
}

.news{
	display: block;
	padding-left: 0;
	float: left;
}

.news a{
	text-decoration: none;
	color: white;
}

.news a:hover{
	color: grey;
}

.container{
	padding: 0;
}

.carousel-inner img{
	display: block;
	width: auto;
	height: 400px !important;
}

.tab-pane img{
	float: left;
	margin-top: 10px;
	width: 270px;
}

.tab-pane p{
	position: relative;
	left: 10px;
	margin-top: 20px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus{
	background-color: black;
}

a {
    color: grey;
 }

.lang img{
	width: 28px; 
	margin-right: 10px;
}

h2{
	margin-left: 0px;
}